label + .radio-wrapper {
  margin-top: 1rem;
}

.radio-wrapper {
  display: grid;

  /* essa configuracao faz com que o grid seja capaz de entender quando tiver mais de elementos ele se organize automaticamente */

  /* o grid-template-columns com o auto-fit faz com que os elementos se encaixem de acordo com o minmax, informando o minimo de tamanho e o máximo de tamanho que vai ser geralmente automatico por isso o 1fr*/
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));

  gap: 1rem;
}

.radio-inner {
  border: 1px solid var(--stroke-default);
  border-radius: 0.5rem;
  padding: 2rem 0.5rem 0.5rem;

  display: grid;
  justify-items: center;
  gap: 0.5rem;

  position: relative;
  & input,
  & input:focus,
  & input:hover {
    /* removendo css ja aplicado em outros blocos */
    all: unset;

    position: absolute;
    inset: 0;
  }

  .radio-image {
    background-image: url(../../assets/icons/radio-default.svg);
    width: 1.5rem;
    height: 1.5rem;

    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
  }

  /* alterando imagem do radio-image mediante hover e focus */
  &:hover,
  &:focus-within {
    border: 1px solid var(--stroke-highlight);

    & .radio-image {
      background-image: url(../../assets/icons/radio-hover.svg);
    }
  }

  /* alterando imagem do radio-image mediante checked */
  &:has(:checked) {
    border: 2px solid var(--stroke-highlight);

    & .radio-image {
      background-image: url(../../assets/icons/radio-checked.svg);
    }
  }
}
